.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  min-height: 200px;
}

.loader-message {
  margin-top: 20px;
  color: #b0b0b0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
