html {
  background-image: url("homeoffice-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: sepia(5%);
  margin: auto;
  backdrop-filter: blur(10px);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  color: rgba(240, 240, 240, 0.9);
  display: inline-block;
  position: relative;
}

#name:hover {
  color: lightskyblue;
  position: relative;
}
#name:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: lightskyblue;
  animation: underline 0.1s linear;
  animation-iteration-count: 1;
}

@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

#introParagraph {
  margin: 0 auto 1rem;
  width: 80%;
  font-size: 1.4rem;
  font-weight: 450;
  text-align: left;
  /* padding: 0 0 2rem 0; */
  color: rgba(240, 240, 240, 0.9);
  line-height: 2.1rem;
  letter-spacing: 2px;
}

#introParagraphMobile {
  margin: 0 auto 1rem;
  width: 90%;
  font-size: 2rem;
  font-weight: 450;
  text-align: center;
  /* padding: 0 0 2rem 0; */
  color: rgba(240, 240, 240, 0.9);
  line-height: 2.1rem;
  letter-spacing: 2px;
}

#introParagraph > p {
  margin: 0;
}

#links {
  margin: 0.5rem auto;
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  backdrop-filter: blur(1px);
}

#links > a {
  margin: 0.2rem;
}

#links :hover {
  /* box-shadow: 2px 2px 6px 2px rgba(200, 200, 200, 0.15); */
  backdrop-filter: blur(10px);
  background-color: rgba(200, 200, 200, 0.15);
}

#link {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  flex-wrap: nowrap;
  height: 2rem;
  border: 2px solid dodgerblue;
  border-radius: 4px;
  text-decoration: none;
  color: rgba(200, 200, 200, 0.9);
}

@media screen and (max-width: 768px) {
  #introParagraph {
    margin: 0 auto 1rem;
    width: 90%;
    font-size: 2rem;
    font-weight: 450;
    text-align: left;
    /* padding: 0 0 2rem 0; */
    color: rgba(240, 240, 240, 0.9);
    line-height: 2.1rem;
    letter-spacing: 2px;
  }
  #links {
    margin: 1rem 4rem;
    max-width: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(1px);
  }
  #link {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    vertical-align: center;
    flex-wrap: nowrap;
    height: 3rem;
    border: 2px solid dodgerblue;
    border-radius: 4px;
    text-decoration: none;
    color: rgba(200, 200, 200, 0.9);
  }

  #links :hover {
    /* box-shadow: 2px 2px 6px 2px rgba(200, 200, 200, 0.15); */
    backdrop-filter: blur(10px);
    background-color: rgba(200, 200, 200, 0.15);
  }
}
