html {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.6) 70%),
    url("IMG-0103.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: sepia(15%);
  margin: auto;
  backdrop-filter: blur(10px);
  overflow-y: auto;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: calc(16px + 1.5vw);
}

.main-navbar {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* position: sticky; */
}

.main-navbar a {
  font-size: calc(16px + 0.5vw);
  color: rgba(240, 240, 240, 0.9);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}
.main-dropdown {
  float: left;
  overflow: hidden;
}
.main-dropdown .main-dropbtn {
  font-size: calc(16px + 0.5vw);
  border: none;
  outline: none;
  color: rgba(240, 240, 240, 0.9);
  padding: 1rem 1rem 0.5rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.main-navbar a:hover,
.main-dropdown:hover .main-dropbtn {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  backdrop-filter: blur(400px);
  background-color: rgba(200, 200, 200, 0.2);
  /* margin-bottom: -2px; */
}

.main-dropdown-links {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;

  background: linear-gradient(to right, rgba(30, 144, 255, 0.5) 2px, transparent 2px) 0 0,
    linear-gradient(to right, rgba(120, 120, 120, 0.3) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, rgba(120, 120, 120, 0.3) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, rgba(50, 205, 50, 0.3) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, rgba(30, 144, 255, 0.5) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, rgba(120, 120, 120, 0.3) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, rgba(120, 120, 120, 0.3) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, rgba(50, 205, 50, 0.3) 2px, transparent 2px) 100% 100%;

  background-repeat: no-repeat;
  background-size: calc(100px + 8vw) calc(50px + 2vh);
  background-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(240, 240, 240, 0.6);
  backdrop-filter: blur(8px);
}

.main-dropdown-links a {
  float: none;
  padding: 1rem 1rem 0.5rem;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  display: block;
  text-align: left;
}

.main-dropdown-links a:hover {
  box-sizing: border-box;
  background-color: rgba(30, 144, 255, 0.5);
}

.main-dropdown:hover .main-dropdown-links {
  display: block;
}

h1 {
  /* font-size: calc(22px + 0.5vw); */
  font-weight: 600;
  color: rgba(240, 240, 240, 0.9);
  display: inline-block;
  position: relative;
}
h3 {
  color: rgba(240, 240, 240, 0.9);
}

#main-name:hover {
  color: rgba(255, 255, 255, 1);
  position: relative;
}
#main-name:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: rgba(30, 144, 255, 0.7);
  animation: underline 0.1s linear;
  animation-iteration-count: 1;
}

@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

#main-introParagraph {
  margin: 0 auto 1rem;
  width: fit-content;
  max-width: 70%;
  font-size: calc(15px + 1vw);
  font-weight: 400;
  text-align: left;
  color: rgba(240, 240, 240, 0.9);
  line-height: 2rem;
  letter-spacing: 1px;
  border-radius: 2rem;
  padding: 1rem;
  border-radius: 0;
  /* background: linear-gradient(to right, rgba(30, 144, 255, 0.1) 2px, transparent 2px) 0 0,
    linear-gradient(to right, rgba(120, 120, 120, 0.1) 4px, transparent 0px) 0 100%,
    linear-gradient(to left, rgba(120, 120, 120, 0.1) 4px, transparent 0px) 100% 0,
    linear-gradient(to left, rgba(50, 205, 50, 0.1) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, rgba(30, 144, 255, 0.1) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, rgba(120, 120, 120, 0.1) 2px, transparent 0px) 100% 0,
    linear-gradient(to top, rgba(120, 120, 120, 0.1) 2px, transparent 0px) 0 100%,
    linear-gradient(to top, rgba(50, 205, 50, 0.1) 2px, transparent 2px) 100% 100%;

  background-repeat: no-repeat;
  background-size: calc(100px + 8vw) calc(50px + 2vh); */
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 0rem 5rem 2rem rgba(0, 0, 0, 0.3);

  /* background-color: rgba(0, 0, 0, 0.4); */
}

#main-introParagraph > p {
  margin: 1rem 0.5rem;
}

.main-form {
  width: 600px;
  margin: 4rem auto;
  border: 1px solid whitesmoke;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: rgba(10, 12, 20, 0.5);
}

.main-form > input,
.main-form > textarea {
  box-shadow: none;
  outline: none;
  border: none;
  font-family: verdana;
  padding: 0.5rem;
  font-size: calc(10px + 1vw);
  background-color: #101318;
  color: whitesmoke;
}
.main-form > input:focus,
.main-form > textarea:focus {
  outline: 2px solid whitesmoke;
  background-color: #101318;
}

.main-form > button {
  font-size: calc(10px + 0.5vw);
  color: rgb(20, 30, 70);
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  width: 30%;
  background-color: rgba(250, 250, 255, 0.6);
  border: 2px solid #101318;
  outline: 2px solid #101318;
  border-radius: 0.5rem;
  cursor: pointer;
}
.main-form > button:hover {
  color: white;
  outline: 2px solid whitesmoke;
  background-color: #101318;
  border-radius: 0.5rem;
  cursor: pointer;
}

#main-linkPage {
  display: grid;
  margin: auto;
  min-width: 700px;
  max-width: 60vw;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}
#main-linkPage:first-child {
  grid-column: 1;
}
#main-linkPage:last-child {
  grid-column: 2;
}

#main-links {
  margin: 0.5rem auto;
  min-width: 275px;
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* backdrop-filter: blur(4px); */
}

#main-links > a {
  margin: 0.2rem;
  align-items: center;
  font-size: calc(14px + 0.5vw);
}

#main-link:hover {
  border: 3px solid;
  border-image: linear-gradient(to right bottom, dodgerblue, transparent, transparent, lightgreen) 1;
  /* backdrop-filter: blur(2px); */
  background-color: rgba(100, 100, 100, 0.5);
  font-size: calc(15px + 0.5vw);
}

#main-link {
  background-color: rgba(75, 75, 75, 0.5);
  /* backdrop-filter: blur(2px); */
  padding: 0.5rem 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 2rem;
  border: 3px solid rgba(30, 144, 255, 0.2);
  border-radius: 4px;
  text-decoration: none;
  color: rgba(230, 230, 230, 1);
}

#main-portfolio {
  margin: 2rem auto;
  width: 80vw;
  list-style-type: none;
  color: rgba(240, 240, 240, 0.9);
}

#main-portfolio > p {
  text-align: left;
  font-size: 1.5rem;
  margin: auto;
  line-height: 1.8rem;
}

#main-portfolioContainer {
  width: calc(100px + 60vw);
  font-size: calc(14px + 0.5vw);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5rem;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  box-shadow: 0px 0px 7rem 7rem rgba(0, 0, 0, 0.5);
}

#main-resume {
  font-size: calc(14px + 1vw);
  margin: auto;
  width: calc(100px + 60vw);
  list-style-type: none;
  text-align: left;
  color: rgba(240, 240, 240, 0.9);
  line-height: 1.8rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  /* padding: 2rem; */
  box-shadow: 0px 0px 7rem 7rem rgba(0, 0, 0, 0.3);
}
#main-resume > ul > li {
  list-style-type: circle;
  margin-left: 7%;
}
#main-resume > p {
  margin-left: 7%;
}
#main-resume > a {
  margin-left: 7%;
  color: rgba(240, 240, 240, 0.9);
}

#borderdiv {
  font-size: calc(12px + 1vw);
  font-weight: 350;
  padding: 1rem 2rem;
  margin: 1rem auto;
  line-height: 2rem;
  border-radius: 4;
  background: linear-gradient(to right, rgba(30, 144, 255, 0.3) 2px, transparent 2px) 0 0,
    linear-gradient(to right, rgba(120, 120, 120, 0.3) 2px, transparent 2px) 0 100%,
    linear-gradient(to left, rgba(120, 120, 120, 0.3) 2px, transparent 2px) 100% 0,
    linear-gradient(to left, rgba(50, 205, 50, 0.3) 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, rgba(30, 144, 255, 0.3) 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, rgba(120, 120, 120, 0.3) 2px, transparent 2px) 100% 0,
    linear-gradient(to top, rgba(120, 120, 120, 0.3) 2px, transparent 2px) 0 100%,
    linear-gradient(to top, rgba(50, 205, 50, 0.3) 2px, transparent 2px) 100% 100%;

  background-repeat: no-repeat;
  background-size: calc(200px + 8vw) calc(50px + 2vh);
}
#borderdiv > h2 {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  html {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.6) 70%),
      url("IMG-0103.jpg");
    background-position: 55%;
  }
  h1 {
    font-size: 2.5rem;
  }

  .main-navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .main-navbar > a {
    padding: calc(4px + 0.2vw);
  }

  .main-dropdown .main-dropbtn {
    padding: calc(4px + 0.2vw);
  }

  .main-dropdown-links {
    min-width: 170px;
    margin-right: 4px;
    right: 0;
    text-align: right;
    background-color: rgba(240, 240, 240, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  #main-portfolioDescription {
    text-align: left;
    max-width: 90%;
  }

  #main-introParagraph {
    margin: 0 auto 2rem;
    max-width: 90%;
    font-size: calc(14px + 3vw);
    font-weight: 400;
    text-align: center;
    color: rgba(240, 240, 240, 0.9);
    backdrop-filter: blur(1px);
    line-height: 2.5rem;
    letter-spacing: 2px;
    border-radius: 0;

    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0rem 0rem 5rem 2rem rgba(0, 0, 0, 0.3);
  }

  #main-introParagraph > p {
    margin: 1rem 1rem 1rem;
  }

  .main-form {
    width: 80vw;
    margin: 2rem auto;
    padding: 0.2rem;
  }

  .main-form > input,
  .main-form > textarea {
    padding: 0.5rem;
    font-size: calc(10px + 1vw);
  }

  #main-linkPage {
    display: grid;
    margin: auto auto 10rem;
    min-width: 350px;
    max-width: 60vw;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }

  #main-linkPage:first-child {
    grid-column: 1;
  }
  #main-linkPage:last-child {
    grid-column: 1;
  }

  #main-links {
    margin: 0.5rem auto;
    min-width: 350px;
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    backdrop-filter: blur(1px);
  }

  #main-links > a {
    margin: 0.2rem;
    font-size: calc(16px + 1vw);
  }

  #main-links > a:hover {
    font-size: calc(17px + 1vw);

    backdrop-filter: blur(10px);
  }

  #main-link {
    font-size: calc(18px + 12vw);
    padding: 0.5rem 0.1rem;
    flex-wrap: nowrap;
    height: 2rem;
    border-image: linear-gradient(to right bottom, dodgerblue, transparent, lightgreen) 1;
    border-radius: 4px;
    text-decoration: none;
    color: rgba(200, 200, 200, 0.9);
  }

  #main-name {
    font-size: calc(14px + 1vw);
    display: block;
  }
  #borderdiv {
    font-size: calc(12px + 1vw);
    background-size: calc(70px + 8vw) calc(25px + 2vh);
  }
}

/* 
/////////////////
////////////////
script for java
////////////////
////////////////
*/

.ScriptForJava {
  max-width: 95%;
  min-height: 90vh;
  height: fit-content;
  overflow-y: scroll;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right bottom, dodgerblue, lightgreen) 1;
  font-family: "Roboto", sans-serif;
  margin: auto;
  background-color: #e6f4f6;
}
#scriptforjava-homepageImage {
  background-image: url(https://images.unsplash.com/photo-1637176706497-1179d9861e16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  filter: sepia(30%);
  filter: grayscale(70%);
  margin: 1rem auto;
  width: 100%;
  height: 100%;
  border: 8px, solid, #029987;
}
#scriptforjava-homepage {
  margin: auto;
  max-width: 95%;
  text-align: center;
}
.scriptforjava-swiper {
  width: 100%;
}
.scriptforjava-swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h2 {
  padding: 1rem 2rem 0;
  text-align: center;
  color: #004c60;
}
#scriptforjava-login {
  text-align: center;
  margin: 1rem auto;
  width: 30%;
  min-width: 300px;
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid #029987;
}
.scriptforjava-app-body {
  min-height: 70%;
}
.scriptforjava-form {
  display: flex;
  flex-direction: column;
}
.scriptforjava-form > * {
  margin: 0.5rem;
}
/* .scriptforjava-nav {
  display: flex;
  justify-content: space-around;
} */
#scriptforjava-subnav {
  position: sticky;
  top: 0;
  z-index: 2;
}
#scriptforjava-ProductDiv {
  margin: 1rem auto;
  max-width: 80%;
  display: flex;
  padding: 2rem 4rem;
  justify-content: center;
  border-left: 2px solid #029987;
  border-top: 1px solid #029987;
  border-right: 3px solid #029987;
  border-bottom: 3px solid #029987;
  border-radius: 0 0 1rem 0;
}
#scriptforjava-ProductDiv > div {
  flex: 1 1 100%;
  padding: 1rem;
  width: fit-content;
  max-width: 40%;
}
#scriptforjava-aboutDiv {
  margin: 1rem auto;
  max-width: 90%;
  display: flex;
  padding: 2rem 4rem;
  justify-content: center;
  border-left: 1px solid #029987;
  border-top: 1px solid #029987;
  border-right: 3px solid #029987;
  border-bottom: 3px solid #029987;
  border-radius: 0 0 1rem 0;
}
#scriptforjava-aboutDiv > img {
  margin: 1rem;
  flex: 1 1 100%;
}
#scriptforjava-aboutDivRight {
  margin: 1rem;
  flex: 1 1 100%;
}
#scriptforjava-cart {
  box-sizing: content-box;
  max-width: 800px;
  min-width: fit-content;
  text-align: left;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 4px;
  border: 2px solid #029987;
}
#scriptforjava-checkoutPage {
  max-width: 90%;
  margin: auto;
  display: flex;
}
#scriptforjava-checkoutPageCart {
  flex: 1;
  box-sizing: content-box;
  max-width: 800px;
  min-width: 200px;
  text-align: left;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 4px;
  border: 2px solid #029987;
}
#scriptforjava-checkoutPageForm {
  flex: 1;
  min-width: 200px;
  max-width: 800px;
  box-sizing: content-box;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  border: 2px solid #029987;
}

.scriptforjava-formBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 90px;
}

.scriptforjava-form {
  background-color: #fcfcfc;
  padding: 50px 100px;
  border-top: 30px solid #70809090;
  margin-top: 50px;
  width: 40vw;
  height: auto;
}

.drinksGrid {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

@media screen and (max-width: 768px) {
  .drinksGrid {
    display: grid;
    width: 95%;
    grid-template-columns: 50% 50%;
    margin: 1rem auto;
    padding: 0;
  }
}
@media screen and (max-width: 550px) {
  .drinksGrid {
    display: grid;
    grid-template-columns: 100% 0;
  }
}

/* 
/////////////////
////////////////
open places
////////////////
////////////////
*/

.OpenPlaces {
  max-width: 700px;
  min-height: 90vh;
  height: fit-content;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: rgb(0, 30, 17);
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right bottom, dodgerblue, lightgreen) 1;
  padding: 1px;
  background-color: #fbfdfd;
}

#places-loginPage {
  font-size: 2rem;
  margin: 2rem auto;
  padding: 0 3rem;
  width: 350px;
  max-width: 60%;
  text-align: center;
  border: 2px solid #a2a3bb;
  border-radius: 1rem;
  box-shadow: 4px 4px 1rem #a2a3bb;
}
#places-placesPage {
  font-size: 2rem;
  margin: auto;
  padding: 2rem;
  width: 90%;
  text-align: center;
  border: 2px solid #daf0ee;
  border-radius: 1rem;
  /* box-shadow: 4px 4px 1rem #DAF0EE; */
}

#places-settingsContainer {
  max-width: 700px;
}

#places-aboutPage {
  font-size: 2rem;
  box-sizing: content-box;
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: left;
  border-bottom: 4px solid #a2a3bb;
  border-left: 1px solid #a2a3bb;
  border-radius: 1rem;
  box-shadow: 2px 2px 0.5rem #a2a3bb;
}

#places-categoryButtonContainer {
  display: flex;
  min-width: fit-content;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  padding: 1rem;
  margin: auto;
}

#places-categoryContainer {
  font-size: 4rem;
  box-sizing: content-box;
  width: 95%;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
  border-bottom: 4px solid #a2a3bb;
  border-left: 1px solid #a2a3bb;
  border-radius: 1rem;
  box-shadow: 2px 2px 0.5rem #a2a3bb;
}

#places-categoryHeader {
  font-size: calc(20px + 50%);
  font-variant: small-caps;
  font-weight: 700;
  box-sizing: border-box;
  padding: 1rem 0 1rem 3rem;
  color: #fbfdfd;
  text-align: left;
  margin-bottom: 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: #1c5d99;
  width: 100%;
}
@media screen and (max-width: 550px) {
  #places-categoryHeader {
    font-size: calc(10px + 8vw);
    text-align: center;
    padding: 1rem 0;
  }
}

#places-opensSoon {
  font-size: 1.2rem;
  color: red;
  font-style: italic;
}
#places-openNow {
  font-size: 1.2rem;
  color: green;
  font-style: italic;
}

form {
  /* font-size: inherit; */
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
  /* font-size: inherit; */
}

#places-welcomePage {
  text-align: center;
  font-size: calc(14px + 3vw);
  margin: 1rem;
  color: rgb(0, 30, 17);
}
@media screen and (max-width: 550px) {
  #places-welcomePage {
    font-size: calc(14px + 3vw);
    margin: 0.5rem;
    padding: 0.5rem;
    color: rgb(0, 30, 17);
  }
}
#places-welcomeSmaller {
  text-align: center;
  font-size: calc(12px + 2vw);
  min-height: 0px;
  margin: 8px;
  color: rgb(0, 30, 17);
}

.places-favoriteButton {
  color: red;
}
.places-notFavoriteButton {
  color: inherit;
}

/* 
//////////////////////////
////////////////////////////
a drop of css
///////////////////////////
////////////////////////////
 */

.DropOfCss {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  margin: 0;
  min-height: 90vh;
  height: fit-content;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right bottom, dodgerblue, lightgreen) 1;
  overflow-x: hidden;
}

.css-main-title {
  font-size: calc(1rem + 2vw);
}
.css-main-subtitle {
  font-size: calc(12px + 0.5vw);
}

h1 {
  font-size: 1.5rem;
}
.css-button-container {
  position: relative;
  display: inline-block;
  align-items: center;
}
.css-header:hover {
  position: relative;
  display: inline-block;
  align-items: center;
}
.css-button-container:hover {
  position: relative;
  display: inline-block;
  align-items: center;
}
.css-instructions {
  font-weight: 300;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center center;
  border: 1px solid black;
  width: fit-content;
  height: 2vh;
  background-color: rgba(15, 35, 50, 0.8);
  box-shadow: 0 2px 2px 0 rgba(100, 100, 100, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem/3rem;
  padding: 0.5rem;
  font-size: calc(4px + 0.5vw);
  color: white;
  transition: opacity 0.2s ease-in-out;
  /* transition: opacity cubic-bezier(1, 0.99, 1, 0); */
  white-space: nowrap;
}
.css-header:hover .css-instructions {
  opacity: 1;
  pointer-events: auto;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
}
.css-button-container:hover .css-instructions {
  opacity: 1;
  pointer-events: auto;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
}
#css-page-container-div {
  display: flex;
  box-sizing: content-box;
  margin: auto;
}
#css-page-container-left-divs {
  display: flex;
  flex-direction: column;
}
#css-cpg-div {
  align-items: center;
  box-sizing: fit-content;
  border-radius: 0.5rem;
  min-height: 20vh;
  max-height: min-content;
  width: 27vw;
  margin: 0 auto 1rem;
  /* padding-bottom: 1rem; */
  /* border-bottom: 1px solid rgba(100, 100, 100, 0.4); */
}
#css-component-div {
  box-sizing: content-box;
  border-radius: 0.5rem;
  height: 60vh;
  width: 27vw;
  margin: 0.25rem;
}
#css-preview-pane-div {
  box-sizing: content-box;
  border-radius: 0.5rem;
  min-height: 100vh;
  width: 73vw;
  /* max-width: 80%; */
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

form > * {
  margin-top: 0.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2d545e;
  color: cornsilk;
  border-bottom: 6px solid #12343b;
}

nav > #css-navSiteTitle {
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  flex-grow: 1;
  margin-bottom: 1rem;
}

nav > img {
  height: 4rem;
  width: 4rem;
  margin: 1rem;
  border-radius: 50%;
  box-shadow: 1px 1px 16px 1px #12343b;
  justify-content: flex-start;
}

nav > h1 {
  margin: 0.5rem;
  padding: 0;
}
nav > h1:hover {
  color: white;
}

nav > h5 {
  word-wrap: normal;
}
#css-cpg-container {
  box-sizing: content-box;
  max-width: 25vw;
  min-width: 20vw;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  min-height: 20vh;
  /* max-height: 42vh; */
  padding: 0.5rem;
  box-shadow: inset 1px 1px 1rem 1px rgba(100, 100, 100, 0.2);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.css-cpg-color {
  text-align: "left";
  display: flex;
  align-items: center;
  width: 24vw;
  margin: 2px;
  min-height: 8vh;
  border-radius: 0.5rem;
}

.css-colorclass {
  font-style: italic;
  font-stretch: expanded;
  font-size: calc(8px + 0.5vw);
  padding: 0 1rem;
}
.css-colorname-colorhex {
  padding-left: 1vw;
  font-size: calc(6px + 1vw);
}
.css-ColorGen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.css-cpg-form-div > form {
  margin: 2px auto;
  max-width: 30vw;
  min-width: 25vw;
}
.css-cpg-form-div > form > input,
.css-cpg-form-div > form > select,
.css-cpg-form-div > form > option {
  border: 1px solid rgba(100, 100, 100, 0.4);
  font-size: calc(10px + 0.5vw);
  border-radius: 0.2rem;
  padding: 2px;
  margin: 2px;
}
.css-setBackgroundButton {
  width: 80%;
  margin: 2px auto 1rem;
  padding: 4px 2px;
  border: 1px solid #2d545e;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #2d545e;
  background-color: 0;
}
.css-setBackgroundButton:hover {
  cursor: pointer;
  color: white;
  border-radius: 4px;
  background-color: #2d545e;
  border: 1px solid #ccc;
}
.css-pointer-on-hover {
  display: inline-flex;
  cursor: pointer;
  margin-left: auto;
  margin-right: 1vw;
  font-size: calc(8px + 0.5vw);
}
.css-preview-option-buttons {
  display: flex;
  justify-content: flex-end;
  height: min-content;
  margin: 0.5rem;
  padding: 0.1rem;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.css-reset-button {
  background-color: darkred;
  color: white;
  border-radius: 0.24rem;
  margin: 0.1rem;
  width: 140px;
  cursor: pointer;
}
.css-download-button {
  background-color: dodgerblue;
  color: white;
  border-radius: 0.24rem;
  margin: 0.1rem;
  width: 140px;
  cursor: pointer;
}
.css-dark-mode-button {
  background-color: darkslategray;
  color: white;
  border-radius: 0.24rem;
  margin: 0.1rem;
  width: 140px;
  cursor: pointer;
}
.css-light-mode-button {
  background-color: lightgray;
  color: black;
  border-radius: 0.24rem;
  margin: 0.1rem;
  width: 140px;
  cursor: pointer;
}

.css-reset-button:hover,
.css-download-button:hover,
.css-dark-mode-button:hover,
.css-light-mode-button:hover {
  /* outline: 1px solid white; */
  box-shadow: 1px 1px 1px 0.1px darkgrey;
}
/* PREVIEW PANE DIVS */

.css-preview-pane-container {
  display: grid;
  grid-template-columns: 150px 4fr;
  grid-template-rows: minmax(4rem, auto) minmax(2rem, auto) minmax(20fr, auto);
  grid-gap: 10px;
  height: 100%;
  max-width: 98%;
  margin: auto;
  flex-wrap: wrap;
  outline: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 0.25rem;
}
#css-previewTitle {
  display: grid;
  grid-row: 1;
  grid-column: 1 / -1;
  min-height: 4rem;
  text-align: center;
  align-items: center;
  outline: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: content-box;
  /* grid-row: 1;
  grid-column: 1 / 3; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
#css-previewNav {
  display: grid;
  grid-row: 2;
  grid-column: 1 / -1;
  min-height: 2rem;
  text-align: center;
  align-items: center;
  outline: 2px solid darkgray;
  border-radius: 0.25rem;

  flex-grow: 1;
  width: 100%;
  padding: auto;
  background-color: #e2e2e2;
}
#css-previewSideNav {
  position: relative;
  display: grid;
  grid-row: 3;
  grid-column: 1;
  min-height: 70vh;
  width: 130px;
  justify-self: center;
  text-align: center;
  align-items: center;
  outline: 2px solid darkgray;
  border-radius: 0.25rem;
  background-color: #e2e2e2;
}
/* main {
  border: 1px solid rgba(230, 230, 230, 0.8);
  padding: 1rem 0;
  grid-row: 3 / auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: auto;
  min-height: max-content;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.1vw;
  justify-content: space-evenly;
  align-content: flex-start;
}
main > #css-previewCardContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  );
  grid-auto-rows: 285.71px;
  grid-gap: 1vw;
  justify-items: center;
  align-items: center;
}

#css-previewCardContainer > #css-previewCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: 2px solid darkgray;
  border-radius: 0.25rem;
  background-color: #e2e2e2;
}
#css-previewForm {
  position: relative;
  min-height: 30vh;
  margin: 1rem;
  outline: 2px solid darkgray;
  border-radius: 0.25rem;
  grid-row: 2;
  grid-column: 1 / span 3;
  background-color: #e2e2e2;
} */

main {
  border: 1px solid rgba(230, 230, 230, 0.8);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.1vw;
}

#css-previewCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: minmax(285px, auto);
  gap: 0.5vw;
  width: 95%;
}

#css-previewCardContainer > #css-previewCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: 2px solid darkgray;
  border-radius: 0.25rem;
  background-color: #e2e2e2;
}

.css-preview-pane-Main-Content > #css-previewForm {
  width: 80%;
  min-height: 30vh;
  margin: 1rem;
  padding: 0;
  outline: 2px solid darkgray;
  border-radius: 0.25rem;
  background-color: #e2e2e2;
}

.css-preview-pane-Main-Content > #css-previewButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-row: 3;
  grid-column: 1 / span 3;
}
#css-previewButtonContainer > #css-previewButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid darkgray;
  border-radius: 0.25rem;
  box-sizing: border-box;
  grid-row: 3;
  width: 20vw;
  height: 10vh;
  background-color: #e2e2e2;
}

/* Component list  -mt*/

.css-componentlist {
  margin: auto;
  box-sizing: content-box;
  min-width: fit-content;
  width: 85%;
  border: 1px solid rgba(100, 100, 100, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.css-componentContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100%-2vh);
}
.css-componentTypes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: calc(8px + 1vw);
}
.css-componentTypes:hover {
  cursor: pointer;
}
.css-componentNamesContainer {
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  min-width: 15vw;
  margin-right: 1vw;
  min-height: calc(100% - 2vh);
  border-radius: 0.25rem;
}
.css-componentNames {
  font-size: calc(8px + 1vw);
  display: none;
}
.css-componentNames.active {
  display: block;
}
.css-componentNames ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: calc(8px + 2vw);
}
.css-componentNames li {
  text-align: left;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 0 0.5vw;
  font-size: calc(6px + 1vw);
}
.css-componentlist ul li:hover {
  animation: rainbow 1.5s linear infinite;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Headers with Navbar color -mt*/

.css-header {
  color: #192d32;
  font-size: calc(12px + 1vw);
  text-align: center;
  margin: 6px auto;
  padding: 4px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  float: center;
}

/* for the h3s only */
.css-header:hover {
  position: relative;
  display: inline-block;
  color: #192d32;
  position: relative;
}
.css-header:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #2d545e;
  animation: underline 0.1s linear;
  animation-iteration-count: 1;
  margin-top: -1px;
}

@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

h5 {
  font-size: calc(8px + 0.5vw);
  text-align: left;
  margin: 0.3rem 0 0.3rem 0.3rem;
}

/*Rainbow components*/

.css-rainbowBtn {
  min-width: fit-content;
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #2d545e;
}
.css-rainbowBtn:hover {
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.css-rainbowBtn {
  animation: rainbow 3s linear infinite;
}
.css-rainbow-header {
  animation: rainbow 1.5s linear infinite;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* login page */

.css-login {
  width: 30vw;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #2d545e;
  border-radius: 1rem;
}
.css-login > * {
  margin: 0;
}
.css-login > form {
  min-width: 20vw;
}
.css-login > form > label {
  color: #2d545e;
  text-align: left;
  font-size: calc(6px + 0.5vw);
}
.css-login > form > .css-rainbowBtn {
  width: 25vw;
  margin: 4px auto;
}

/*Profile Page*/

.css-profile {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  justify-content: space-around;
  background-color: lightgray;
  outline: 0.1px solid darkgray;
  border-radius: 1rem;
}
.css-custom-icon {
  color: #2d545e;
}
.css-template-list-container {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.css-profilecomppreview,
.css-profilehtmlpreview {
  width: 400px;
  height: 300px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  margin: 1rem;
  font-size: calc(12px + 0.5vw);
}
.css-boxesflex {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}
.css-profile-main {
  text-align: center;
}
.css-profile-comp-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.css-profile-comp-table li:hover {
  animation: rainbow 1.5s linear infinite;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  /*-webkit-text-fill-color: transparent;*/
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.css-profile-comp-table .selected {
  color: red;
}
.css-template-name {
  display: flex;
  align-items: center;
  font-size: calc(12px + 0.5vw);
}
.css-edit-icon {
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: gray;
}
.css-comp-name-input {
  color: black !important;
  width: 150px;
  height: 15px;
  padding: 5px;
}
.css-proheader {
  color: #2d545e;
  font-size: calc(14px + 0.5vw);
}
.css-copytoclip,
.css-stylelink {
  animation: rainbow 1.5s linear infinite;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#css-clipboard-message {
  font-size: calc(12px + 0.5vw);
  height: 2rem;
  margin-bottom: -2rem;
}
.css-template-componentandcode-div {
  margin-bottom: 2rem;
}
.css-heart-icon {
  width: 1.2rem;
  /* color: white; */
  transition: color 0.1s ease-in-out;
  /* stroke: black;
  stroke-width: 4px; */
}
.css-heart-clicked {
  color: red;
}
#css-hoverbox {
  display: flex;
  justify-content: space-evenly;
  width: 7rem;
  position: absolute;
  bottom: 2px;
  right: 2px;
  background: rgba(200, 200, 200, 0.6);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(200, 200, 200, 1);
  border-radius: 0.25rem;
  z-index: 9999;
}
#css-hoverbox > * {
  display: flex;
  align-items: flex-end;
  padding: 0.1rem;
}
#css-hoverbox > *:hover {
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .css-preview-pane-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 98%;
  }

  #css-previewSideNav {
    display: none !important;
  }

  .css-preview-pane-Main-Content {
    grid-template-columns: 1fr;
    flex-direction: column;
  }

  /* .css-preview-pane-Main-Content > #css-previewCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

  }
  #css-previewCardContainer > #css-previewCard {
    max-width: 40vw;
    min-width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .css-login {
    width: 45vw;
    /* height: 40vh; */
  }
  .css-login > form {
    min-width: 35vw;
  }
  .css-login > form > label {
    font-size: calc(8px + 0.5vw);
  }
  .css-login > form > .css-rainbowBtn {
    width: 20vw;
    margin: 4px auto;
    min-height: 30px;
    max-height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .css-header > .css-instructions {
    box-sizing: content-box;
    font-weight: 300;
    width: 25vw;
    height: 4vh;
    border-radius: 2rem/3rem;
    padding: 0.2rem;
    font-size: calc(8px + 0.5vw);
    white-space: normal;
  }
  .css-button-container > .css-instructions {
    box-sizing: content-box;
    text-align: center;
    font-weight: 300;
    width: 15vw;
    height: 4vh;
    border-radius: 2rem/3rem;
    padding: 0.2rem;
    font-size: calc(6px + 0.5vw);
    white-space: normal;
  }
  .css-preview-pane-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(4rem, auto) minmax(2rem, auto) minmax(0, 1fr);
    grid-gap: 10px;
    max-width: 98%;
    z-index: 0;

    /* overflow: none; */
    min-height: 180vh;
  }

  #css-previewSideNav {
    display: none !important;
  }
  /* 
  .css-preview-pane-Main-Content {
    grid-template-columns: 1fr;
    grid-row: 3 / 4;
  }

  .css-preview-pane-Main-Content > #css-previewCardContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-row-gap: 2vh;
  }
  #css-previewCardContainer > #css-previewCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 60vw;
    min-width: 35vw;
  } */
  .css-login {
    width: 55vw;
    /* height: 40vh; */
  }
  .css-login > form {
    min-width: 45vw;
  }
  .css-login > form > label {
    font-size: calc(8px + 0.5vw);
  }
  .css-login > form > .css-rainbowBtn {
    width: 30vw;
    margin: 4px auto;
  }
}

/* For screens with a width of 550px or less */

/* design here should be name on top, menu below */
/* 2 columns. first row is the color palette and component selector, 2nd row is the preview pane in cell size*/

@media screen and (max-width: 550px) {
  .css-cpg-form-div > form {
    font-size: calc(12px + 1vw);
    margin: 2px auto;
    max-width: 60%;
    min-width: 25vw;
  }
  .css-cpg-form-div > form > input,
  .css-cpg-form-div > form > select,
  .css-cpg-form-div > form > option {
    font-size: calc(12px + 1vw);
  }
  nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    align-items: center;
    text-align: center;
  }

  nav > #css-navSiteTitle {
    grid-column: 2;
    text-align: center;
    margin-bottom: 1rem;
  }

  .css-main-title {
    font-size: calc(0.5rem + 8vw);
  }
  .css-main-subtitle {
    font-size: calc(0.5rem + 2vw);
  }

  nav > img {
    grid-column: 1;
    height: 6rem;
    width: 6rem;
    margin: 1rem auto;
    border-radius: 50%;
    box-shadow: 1px 1px 16px 1px #12343b;
    justify-content: center;
  }

  nav > #css-navlinks {
    grid-column: 1 / span 2;
    text-align: center;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  #css-navSiteTitle > h1 {
    /* margin: 0 auto; */
    text-align: center;
  }
  #css-navSiteTitle > h5 {
    /* margin: 0 auto; */
    text-align: center;
  }

  .css-header {
    font-size: calc(8px + 5vw);
    margin-bottom: 0px;
    margin-top: 2rem;
  }
  #css-page-container-div {
    width: 95%;
    /* margin: auto; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  #css-page-container-left-divs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-end: auto;
    max-width: 100%;
  }
  .css-instructions {
    opacity: 0;
    transform: 0;
    transition: 0;
  }
  .css-header:hover .css-instructions {
    opacity: 0;
  }
  .css-button-container:hover .css-instructions {
    opacity: 0;
  }

  #css-cpg-div {
    grid-column: 1;
    width: 80vw;
    height: fit-content;
    border: none;
    margin: auto;
  }

  #css-cpg-container {
    max-width: none;
    width: 85vw;
    padding: 1rem;
    min-width: none;
    max-height: none;
    box-sizing: border-box;
  }
  .css-droppableDiv {
    height: max-content;
  }
  .css-cpg-color {
    min-width: 75vw;
    max-width: 75vw;
    min-height: 10vh;
  }

  .css-colorclass {
    font-style: italic;
    font-stretch: expanded;
    font-size: calc(6px + 2vw);
    padding-left: 1rem;
  }
  .css-colorname-colorhex {
    padding-left: 2vw;
    font-size: calc(6px + 3vw);
  }
  .css-shuffle-icon {
    font-size: calc(8px + 4vw) !important;
  }
  .css-lock-icon {
    font-size: calc(8px + 4vw) !important;
  }

  #css-component-div {
    grid-column: 1;
    min-width: 85vw;
    height: fit-content;
    margin: auto;
  }

  .css-componentlist {
    min-height: 40vh;
  }
  .css-componentTypes {
    margin: 1vh 1vw;
    font-size: calc(8px + 2vw);
  }
  .css-componentNamesContainer {
    min-width: 55vw;
  }
  .css-componentNames > ul > li {
    padding: 2px;
    font-size: calc(12px + 1vw);
  }
  /* #css-previewCardContainer {
    min-height: 80vh;
    max-width: 95vw;
  } */
  #css-previewSideNav {
    display: none !important;
  }

  #css-preview-pane-div {
    /* grid-column: 1 / -1; */
    width: 90vw;
    margin: auto;
  }
  .css-preview-pane-container {
    display: grid;
    grid-template-columns: 1fr 0;
    padding: 1rem;
    margin: auto;
    grid-template-rows: 70px, 70px, auto;
    grid-gap: 0px;
    justify-content: flex-start; /* Align cards to the top */
  }
  #css-previewTitle {
    grid-row: 1;
  }
  .css-download-hover-button {
    position: relative;
    z-index: 1;
    transition: transform 0.3s;
  }

  .css-download-hover-button:hover {
    transform: scale(1.2);
  }

  .css-download-hover-button-sidenav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .css-download-hover-button-nav {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .css-download-hover-button-title {
    position: absolute;
    top: 0%;
    right: 30px;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #css-previewNav {
    grid-row: 2;
  }

  /* #css-previewCardContainer {
    display: unset;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    grid-row-gap: 2vh;
  }
  #css-previewCardContainer > #css-previewCard {
    margin: auto;
    max-width: 100%;
    min-width: 80%;
    display: unset;
  }

  #css-previewForm {
    grid-row: 4;
  }

  #css-previewButtonContainer {
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .css-login {
    width: min-content;
    /* height: 40vh; */
  }
  .css-login > form > .css-rainbowBtn {
    width: 80%;
    margin: 4px auto;
  }
}
